.bg-custom {
  background-color: #c1d7ff;
}

.bg-custom2 {
  background-color: #c1ffb9;
}

.btn-custom {
  background-color: #ffcc99;
  color: #333333;
}

.btn-custom:hover {
  background-color: #ffbf80;
  color: #333333;
}